/* ====== GLOBAL CSS ====== */

body {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
   min-height: 100vh;
   background-color: #EEEEEE;
   font-family: Arial, Helvetica, sans-serif;
}

.shadow-main {
   box-shadow: 0px 1px 12px 0px rgba(0, 0, 0, 0.20);
   }



/* ==== TOP HEADER CSS ==== */

.top {
   color: #eeeeee;
   display: flex;
   padding: 1.56rem;
   align-items: center;
   background-color: #285867;
}

.top a {
   color: #eeeeee;
   align-items: center;
}

.logo {
   color: #eeeeee;
   padding-right: 15px;
}

.title {
   font-size: 2rem;
   font-style: normal;
   font-weight: 800;
   width: 100%;
}

.title a {
   text-decoration: none;
}

.logout a{
   padding-right: 20px;
   text-decoration: none;
   font-size: 1.2em;
}



/* ==== NAVBAR CSS ==== */

.navbar {
   margin: 0;
   padding: 0;
   background-color: #153544;
}

.navbar a{
   padding-left: 20px;
   padding-right: 20px;
   font-size: 1.4em;
   color: #eeeeee;
}

.navbar .container {
   display: flex;
   justify-content: space-between;
   align-items: center;
}




/* ====== BUTTON CSS ====== */

.primary-button {
   border-radius: 0.625rem;
   border: 2px solid #112d39;
   background: #285867;
   padding: 1rem 1rem;
   justify-content: center;
   align-items: center;
   font-family: Arial;
   color: #eee;
   font-size: 1rem;
   font-style: normal;
   font-weight: 600;
   line-height: normal;
   cursor: pointer;
   transition: transform .4s;
}

.primary-button:hover {
   background-color: #153544;
   border: 3px solid #09202B;
   transform: rotate(90deg)
}

.primary-button:active {
   background-color: #09202B;
   border: 3px solid #09202B;
}


.primary-button:focus {
  outline-color: #000;
}

.circle {
   border-radius: 50%;
   max-width: 80px;
   max-height: 80px;
   min-width: 80px;
   min-height: 80px;
}

#calendar {
   font-size: 1.3em;
   padding: 5px;
   border-radius: 5px;
   box-shadow: 0px 1px 12px 0px rgba(0, 0, 0, 0.20);
   font-family: Arial, Helvetica, sans-serif;
   background-color: #EEEEEE;
   color: #333333;
   cursor: pointer;
}

#calendar:hover {
   background-color: #777777;
   color: #EEEEEE;
}

#calendar:active {
   background-color: #333333;
}

.highlight-1 {
   background: red;
 }



/* ====== HEADER (BODY) CSS ====== */

.header .container {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 20px 40px;
}

h1 {
   font-size: 3rem;
}




/* ====== BODY MAIN ====== */

.container {
   max-width: 1400px;
   margin: 0 auto;
   padding: 0 30px;
}

.tiles .container {
   display: flex;
   justify-content: space-between;

}

.tile {
   flex: 1;
   background-color: #fff;
   margin: 20px 10px;
   border-radius: 5px;
   box-shadow: 0px 1px 12px 0px rgba(0, 0, 0, 0.20);
   padding: 15px 20px;
}





/* ====== GRID CSS ====== */





/* ====== FOOTER CSS ====== */

#footer {
   position: relative;
   margin: auto 0;
   width: 100%;
}

.footerContainer {
   color: #333333;
   display: flex;
   padding: 1.1rem;
   align-items: center;
   background-color: #DEDEDE;
   border-top: 1px solid #CCCCCC;
}

.logoFooter {
   color: #333333;
   padding-right: 15px;
}






/* ====== ADD-MODAL CSS ====== */

.modal {
   display: block;
   border: 5px solid #333;
   border-radius: 5px;
   /* background-color: #fff; */
   /* width: 400px; */
   /* max-width: 60%; */
}

.modal-title {
   font-size: 2em;
   padding-bottom: 10px;
   margin-bottom: 20px;
   border-bottom: 1px solid #333;
}

.newQuota {
   display: inline-flex;
   font-size: 1.2rem;
}

.difficulty {
   font-size: 1.4rem;
   padding-top: 15px;
   padding-bottom: 5px;
}

.difficulty-btns {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   font-size: 1.2rem;
}

.diff {
   display: none;
}

.label {
   width: 99%;
   text-align: center;
   padding-top: 5px;
   padding-bottom: 5px;
   background-color: #EEEEEE;
   color: #222;
   border: 2px solid #153544;
   margin-top: 5px;
   margin-bottom: 5px;
   border-radius: 5px;
}
#difficulty1:checked ~ .label-1,
#difficulty2:checked ~ .label-2,
#difficulty3:checked ~ .label-3
{
   background-color: #285867;
   color: #EEEEEE;
}


.confirm {
   display: flex;
   flex-wrap: nowrap;
   justify-content: space-between;
   padding-top: 10px;
}

#cancel {
   width: 49.4%;
   padding-top: 8px;
   padding-bottom: 8px;
   margin-top: 15px;
   margin-bottom: 5px;
   font-size: 1em;
   font-weight: bold;
   color: #E38A6C;
   background-color: #FAE0D6;
   border: 3px solid #E38A6C;
   border-radius: 5px;
}

#cancel:hover {
   width: 49.4%;
   font-size: 1em;
   font-weight: bold;
   color: #7B2A10;
   background-color: #E38A6C;
   border: 3px solid #7B2A10;
   border-radius: 5px;
}

#add {
   width: 49.4%;
   padding-top: 8px;
   padding-bottom: 8px;
   margin-bottom: 5px;
   font-size: 1em;
   font-weight: bold;
   color: #222;
   background-color: #eee;
   border: 3px solid #153544;
   border-radius: 5px;
}

#add:hover {
   width: 49.4%;
   font-size: 1em;
   font-weight: bold;
   color: #EEEEEE;
   background-color: #285867;
   border: 3px solid #153544;
   border-radius: 5px;
}

